.container{
    text-align: center;
    width: 80%;
}
.wrap{
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}
p{
    height: 75px;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    background-color: orange;
}